<mat-toolbar color="primary">
  <span>Angular 9 MatTable CRUD Example</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="mat-table__wrapper set-scroll">

  <mat-table class="lmat-elevation-z8 " #table [dataSource]="dataSource" matSort #sort1="matSort">


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'USER_MANAGEMENT.ADD_TO_GROUP.ROLE_NAME' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class='action'>
        {{element.subscriptionDetails?.plan?.name}}&nbsp;

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'MY_SUBSCRIPTION.STATUS' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class='action'>
        <p [innerHtml]="getIsActive(element.isActive)"></p>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'MY_SUBSCRIPTION.START_DATE' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class='action'>
        {{element.startDate | date : 'dd MMM yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'MY_SUBSCRIPTION.END_DATE' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class='action'>
        {{element.endDate | date : 'dd MMM yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'MY_SUBSCRIPTION.PRICE' | translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class='action'>
        {{element.subscriptionDetails?.plan?.price}}
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

</div>
