<mat-toolbar color="primary" >
  <span>CAKE ORDERS</span>
  <span class="spacer"></span>
 
  <button mat-icon-button (click)="addNew()">
    <mat-icon>add</mat-icon>
    ADD
  </button>
</mat-toolbar>
<div class="bgimg">


<div class="container mat-elevation-z8">



  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>
        Id
        </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
   
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>
        Name
        </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nameOnCake}}</mat-cell>
      </ng-container>
   

   

    <ng-container matColumnDef="Phone Number">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Type">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.typeOfCake}}</mat-cell>
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Type</mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created at</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.created_at}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.updated_at}}</mat-cell>
    </ng-container>

    
   

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</kt-portlet-body>
</div>
