<mat-toolbar color="primary" >
  <span>CAKE ORDERS</span>
  <span class="spacer"></span>
 
  <button mat-icon-button (click)="addNew()">
    <mat-icon>add</mat-icon>
    ADD
  </button>
</mat-toolbar>
<div class="bgimg">


<div class="container mat-elevation-z8">



  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
  
    
   
      <ng-container matColumnDef="Name on cake">
        <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>
        Name On Cake
        </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nameOnCake}}</mat-cell>
      </ng-container>
   

   

    <ng-container matColumnDef="Phone Number">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Type Of Cake">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.typeOfCake}}</mat-cell>
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Type</mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="Balance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.balance}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Type of order">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type Of Order</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.updated_at}}</mat-cell>
    </ng-container>

  <!-- <ng-container matColumnDef="Status">
    <mat-cell *matCellDef="Status">
    <mat-form-field>
      <mat-select style="min-width: 200px;" placeholder="Select Status">
        <mat-option *ngFor="let plan of statues " value="{{plan.id}}">
          {{ plan.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-cell>
    </ng-container>
     -->
   
<ng-container matColumnDef="Status">
  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
  <mat-cell *matCellDef="let element">
    <mat-form-field>
      <mat-select style="min-width: 200px;" placeholder="">
        <mat-option *ngFor="let plan of statues " [value]="plan.id">
          {{ plan.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-cell>
</ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
</div>
