/* Structure */
.container {
  display: block;
  flex-direction: column;
  margin: 50px;
    
}

/* Toolbar */
.spacer {
  flex: 1 1 0%;
}

/* Filter */
.form {
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-header-cell {
  font-size: 14px;
  margin-top: 8px;
}
.mat-cell {
  width: 100%
}
/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(100),
.mat-header-cell:nth-child(1){
  flex: 1 1 30%;
}

.mat-cell:nth-child(100),
.mat-header-cell:nth-child(2){
  flex: 1 1 30%;
}

.mat-cell:nth-child(100),
.mat-header-cell:nth-child(3){
  flex: 1 1 30%;
}

.mat-cell:nth-child(100),
.mat-header-cell:nth-child(7){
  flex: 1 1 30%;
}

.bgimg {
  display:flex;
  width:100%;
  height:100%;
  background: url('../assets/cakes.jpg') repeat center center fixed;
}