.containerForReceipt {
   display: flex;
  flex-direction: column;
  width:450px; height : 298; margin:10px;
padding: 10px;
 transition: unset !important;
 border: 1px solid black;

}


.containerForReceipt h3 {
  margin-bottom: 0;
}
.containerForReceipt h4 {
  line-height: 0px;
  margin-top: 0;
}
.downloadButton {
  float:right;
  margin-right: 50px;
}
.aligndiv {
  margin-right: 15px;
}
