<div class="aparent">
       <div style="float : left">
            <button mat-icon-button (click)="downloadData()">
                <mat-icon>download</mat-icon>
                DOWNLOAD
            </button>
       </div>

       
    <div style="float : right;margin-right: 20px">
<button mat-icon-button (click)="onPrint()">
    <mat-icon>print</mat-icon>
    PRINT
</button>
       </div>
        
</div>


<div class="containerForReceipt" id="parentdiv" >
    <h3 style="text-align : center">Nirvin's Cafe</h3>
    <p style="text-align : center">NetraVathi Hostel road, Anjaneya layout,Davengere</p>
    <div style="text-align : center">Mob : 9738888488</div>
    <h2 style="text-align : center;text-decoration: underline">Order No : {{this.data.id}}</h2>
    <div style=" display: inline;margin-top: 10px;"> 
       <div>Date : {{todayDate}}</div>


   </div>
    <div style=" display: inline;margin-top: 10px;"> 
       <div>Name on cake :<b>{{data.nameOnCake}}</b></div>
        <div style="margin-top: 10px">Address : {{data.address}}</div>

   </div>
   <div style=" display: inline;margin-top: 10px;">
        <div style="float : left">Mobile Number </div>
        <div style="float : right">{{data.phoneNumber}}</div>
        </div>
    <div style=" display: inline;margin-top: 10px;">
        <div style="float : left">Alternate Mobile Number </div>
        <div style="float : right">{{data.altNumber}}</div>
        </div>
        <div style=" display: inline;margin-top: 10px;">
            <div style="float : left">Type of cake </div>
            <div style="float : right">{{data.typeOfCake}}</div>
        </div>
        <div style=" display: inline;margin-top: 10px;">
            <div style="float : left">Delivery Date </div>
            <div style="float : right">{{deliverDate}}</div>
        </div>
        <div style=" display: inline;margin-top: 10px;">
            <div style="float : left">Delivery Time </div>
            <div style="float : right">{{deliverTime}}</div>
        </div>
        <div style=" display: inline;margin-top: 10px;">
            <div style="float : left">Price </div>
            <div style="float : right;;font-weight: bold">Rs.{{data.price}}</div>
        </div>
        <div style=" display: inline;margin-top: 10px;">
            <div style="float : left">Advance Paid </div>
            <div style="float : right;font-weight: bold">Rs.{{data.advance}}</div>
        </div>
        <div style=" display: inline;margin-top: 10px;">
            <div style="float : left">Balance </div>
        <div style="float : right;"><b>Rs.{{data.balance}}</b></div>
        </div>
        
   
</div>