.container {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  
 
}

/* .container > * {
  width: 100%;
} */

.form {
  display: flex;
  margin-right: 10px;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
.mat-form-content {
  font-size: 16px;
  min-height: 1000px;
}
.aParent div {
    float: left;
    clear: none; 
}
.aligndiv {
  margin-right: 15px;
}
