<div class="container">
  <h3 mat-dialog-title>Add new Order</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" >
<div [formGroup]="confirmRegisterForm" >

     <div class="form aParent">
        <mat-form-field color="accent" class="aligndiv">
          <input matInput placeholder="Name" name="Name" formControlName="Name" type="text" required>
        </mat-form-field>
    <mat-form-field color="accent" >
      <input matInput #inputstate class="form-control" placeholder="Contact" name="phoneNumber" formControlName="phoneNumber" type="number" required>
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  
    </div>

    
    <!--Contains mat-hint for characters count and has maxLengt set-->
     <div class="form aParent" >
      <mat-form-field color="accent" class="aligndiv" >
        <input matInput #inputstate1 class="form-control" placeholder="Alternate No" formControlName="AlternateNo" type="number" >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate1.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Address" name="Address" formControlName="address" type="text">
      </mat-form-field>
    </div>


    <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Name on cake"  name="Name on cake" formControlName="Name" type= "text">
      </mat-form-field>
        
        <mat-form-field color="accent">
          <input matInput placeholder="Delivery Date" name="DeliveryDate" formControlName = "DeliveryDate" type = "date">
        </mat-form-field>
    </div>

   

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Delivery Time" name="DeliveryTime" formControlName = "DeliveryTime" type = "time">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Type of cake"  name="Type" formControlName = "Type" type = "text">
      </mat-form-field>
    </div>

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Price" name="Price" formControlName = "Price" type="number">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Advance" name="Advance" formControlName = "Advance" type="number">
      </mat-form-field>
    </div>

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Balance" name="Balance" formControlName = "Balance" type="number">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Note" name="Note" formControlName = "Note" type="text">
      </mat-form-field>
    </div>
    
       <div class="form aParent">
  <mat-form-field color="accent" class="aligndiv">
    <mat-label>Status</mat-label>
    <mat-select placeholder="Select Status"[ngModelOptions]="{standalone: true}"  [(ngModel)]="selectedStatus" >
      <mat-option *ngFor="let plan of statues" value="{{ plan.id }}">
        {{ plan.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" >
    <mat-label>Type Of Order</mat-label>
    <mat-select placeholder="Select Type of Order" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedType" >
      <mat-option *ngFor="let typeOrder of orderTypes" value="{{ typeOrder.id }}">
        {{ typeOrder.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    </div> 

    <div class="form-group">
      <label for="file">File</label>
      <input formControlName="file" id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
      </div>
    </div>
    
    <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br />

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>

  </form>
</div>
