<div class="container">
  <h3 mat-dialog-title>Add new Order</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" [formGroup]="form" >

     <div class="form aParent">
        <mat-form-field color="accent" class="aligndiv">
          <input matInput placeholder="Name" [(ngModel)]="data.url" name="url">
        </mat-form-field>
    <mat-form-field color="accent" >
      <input matInput #inputstate class="form-control" placeholder="Contact" [(ngModel)]="data.state" name="state"
        maxlength="10" required>
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  
    </div>

    
    <!--Contains mat-hint for characters count and has maxLengt set-->
     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv" formControlName="AlternateNo">
        <input matInput #inputstate class="form-control" placeholder="Alternate No" [(ngModel)]="data.state" name="state" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Address" [(ngModel)]="data.url" name="url">
      </mat-form-field>
    </div>


    <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Name on cake" [(ngModel)]="data.created_at" name="created_at">
      </mat-form-field>
        <mat-form-field color="accent">
          <input matInput placeholder="Delivery Date" [(ngModel)]="data.updated_at" name="updated_at">
        </mat-form-field>
    </div>

   

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Delivery Time" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Type of cake" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
    </div>

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Price" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Advance" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
    </div>

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Balance" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
      <mat-form-field color="accent">
        <input matInput placeholder="Note" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
    </div>
    
       <div class="form aParent">
  <mat-form-field color="accent" class="aligndiv">
    <mat-label>Status</mat-label>
    <mat-select placeholder="Select Status" >
      <mat-option *ngFor="let plan of statues" value="{{ plan.id }}">
        {{ plan.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    </div> 

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
