.container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
 
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  margin-right: 10px;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
.aParent div {
    float: left;
    clear: none; 
}
.aligndiv {
  margin-right: 15px;
}
