.container {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  
 
}
.containerForReceipt {
   display: flex;
  flex-direction: column;
  width:450px; height : 298; margin:10px;
padding: 10px;
 transition: unset !important;

}


.containerForReceipt h3 {
  margin-bottom: 0;
}
.containerForReceipt h4 {
  line-height: 0px;
  margin-top: 0;
}
.form {
  display: flex;
  margin-right: 10px;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
.mat-form-content {
  font-size: 16px;
  min-height: 1000px;
}
.aParent div {
    float: left;
    clear: none; 
}
.aligndiv {
  margin-right: 15px;
}
post_image {
display: inline-block;
}
