<div class="container" >
<div class="container" >
  <h3 mat-dialog-title>Add new Order</h3>

  <form class="mat-dialog-content"(ngSubmit)="submit" #formControl="ngForm" >
<div [formGroup]="confirmRegisterForm" >

     <div class="form aParent">
        <mat-form-field color="accent" class="aligndiv">
          <input matInput placeholder="Name on cake" name="Name on cake" [(ngModel)]="data && data.nameOnCake" formControlName="Name" type="text" required>
        </mat-form-field>


    <mat-form-field color="accent" >
      <input matInput #inputstate class="form-control" [value]="phoneNo" [(ngModel)]= "data && data.phoneNumber"  placeholder="Contact" name="phoneNumber" formControlName="phoneNumber" type="number" required>
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  
    </div>

    
    <!--Contains mat-hint for characters count and has maxLengt set-->
     <div class="form aParent" >
      <mat-form-field color="accent" class="aligndiv" >
        <input matInput #inputstate1 class="form-control" placeholder="Alternate No" [(ngModel)]= "data && data.altNumber" formControlName="AlternateNo" type="number" >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate1.value?.length || 0}}/10</mat-hint>
      </mat-form-field>


      <mat-form-field color="accent">
        <input matInput placeholder="Address" name="Address" [(ngModel)]= "data && data.address" formControlName="address" type="text">
      </mat-form-field>
    </div>


    <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Delivery Date" name="DeliveryDate" [(value)]="deliverDate" formControlName="DeliveryDate"
          type="date" required>
      </mat-form-field>


        <mat-form-field color="accent">
          <input matInput placeholder="Delivery Time" name="DeliveryTime" [(value)]="deliverTime" formControlName="DeliveryTime"
            type="time" required>
        </mat-form-field>
    </div>

   

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Type of cake" [(ngModel)]="data && data.typeOfCake" name="Type" formControlName="Type"
          type="text">
      </mat-form-field>


      <mat-form-field color="accent">
        <input matInput placeholder="Price" required name="Price" [value]="a" (change)="formatedText($event, 'a')" (click)="$event.target.select()"
          [(ngModel)]="data && data.price" formControlName="Price" type="number">
      </mat-form-field>
    </div>

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Advance"required  [value]="b" (change)="formatedText($event, 'b')" (click)="$event.target.select()"
          [(ngModel)]="data && data.advance" name="Advance" formControlName="Advance" type="number">
      </mat-form-field>




      <mat-form-field color="accent">
        <input matInput placeholder="Balance" required name="Balance" [(ngModel)]="data && data.balance" [value]="c"  (click)="$event.target.select()"
          formControlName="Balance" type="number">
      </mat-form-field>

    
</div>




<div class="form aParent">
  <mat-form-field color="accent">
    <input matInput placeholder="Pay Balance" required name="Balance" [(ngModel)]="data && data.balance" [value]="c"  (click)="$event.target.select()"
      formControlName=" Pay Balance" type="number">
  </mat-form-field>
</div>




  

    

     <div class="form aParent">
      <mat-form-field color="accent" class="aligndiv">
        <input matInput placeholder="Note" name="Note" [(ngModel)]="data && data.note" formControlName="Note" type="text">
      </mat-form-field>

     
      <mat-form-field color="accent">
        <mat-label>Status</mat-label>
        <mat-select required  placeholder="Select Status" formControlName="selectedStatus" [(ngModel)]="data && data.statusId">
          <mat-option *ngFor="let plan of statues" [value]="plan.id">
            {{ plan.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    

       <div class="form aParent">
    <mat-form-field color="accent" >
    <mat-label>Type Of Order</mat-label>
    <mat-select required placeholder="Select Type of Order" (selectionChange)="onStatusChanged($event)" formControlName="selectedType" [(ngModel)]="data && data.typeOfOrderId" >
      <mat-option *ngFor="let typeOrder of orderTypes" [value]=" typeOrder.id">
        {{ typeOrder.name }}

      </mat-option>
    </mat-select>
  </mat-form-field>
    </div> 


    


<div>
  <mat-label >Add Images</mat-label>
  
  
  <input #file [disabled]="imgURL && imgURL.length > 4" type="file" accept='image/*' (change)="preview(file.files)" />
  <br />
  <br />
</div>



  <div class="post_image" *ngFor="let image of imgURL">
    <img height="50" src='{{image}}' />
  </div>



    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>

      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>


  </form>
</div>
