/* Structure */
.container {
  display: block;
  flex-direction: column;
  margin: 50px;
  width: 100%;
    
}

/* Toolbar */
.spacer 
{

  flex: 1 1 0%;
}

mat-icon {

  line-height: 21px;
}


.mat-icon-button
{

padding: 0;
min-width: 0;
width:140px;
height: 40px;
flex-shrink: 0;
font-size: 100%;
line-height: 40px;
}





.form {
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type 
{
  padding-right: 320px;
  width:50px;
}
.mat-header-cell 
{
  
  font-size: 14px;
  margin-top: 8px;
}
.mat-cell {
  width: 100%;
  margin-top: 10px;
}
/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 1 1 30%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 1 1 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 1 1 30%;
}
.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4){
  flex: 1 1 30%;
}
.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5){
  flex: 1 1 30%;
}
.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6){
  flex: 1 1 30%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 1 1 30%;
}

.bgimg {
  display:flex;
  width:100%;
  height:100%;
  background: url('../assets/cakes.jpg') repeat center center fixed;
}
.downloadButton {
    display: flex;
    flex : 1 1 90%;
}
.aParent div {
    float: left;
    clear: none; 
}
.aligndiv {
  margin-right: 15px;
}
