<mat-toolbar color="primary" >
    <span>CAKE ORDERS</span>
  <span class="spacer"></span>
 
  <button mat-icon-button (click)="addNew()">
    <mat-icon>add</mat-icon>
    ADD11
  </button>
</mat-toolbar>


<div class="bgimg">
<div class="container mat-elevation-z8">

<div mat-dialog-actions align="end">
    <span class="downloadButton"></span>
  <button mat-raised-button color="primary"(click)="downloadData()">
    <mat-icon>download</mat-icon>
    DOWNLOAD    
  </button>


  
  


<mat-accordion style = "margin-top: 10px">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h3>FILTER BY</h3> 
      </mat-panel-title>

    </mat-expansion-panel-header>


   <div >
    <div style="width : 30%;margin-bottom: 20px">
      <mat-form-field >
        <mat-label>Status</mat-label>
        <mat-select placeholder="Select Status" (selectionChange)="onFilterStatus($event)">
          <mat-option *ngFor="let plan of statues" [value]="plan.id" >
            {{ plan.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width : 30%" color="accent" class="aligndiv">
        <input matInput placeholder="From Date" name="From Date" type="date"[(value)]="filterFromDate"  [(ngModel)]= "filterFromDate">
      </mat-form-field>
    
      <mat-form-field style="width : 30%" color="accent">
        <input matInput placeholder="To Date" name="To Date" type="date" [(value)]="filterToDate"  [(ngModel)]= "filterToDate">
      </mat-form-field>
    </div>
   </div>
   <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onSearch()">
      SEARCH
    </button> 
    </div>
  </mat-expansion-panel>
</mat-accordion>
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
  
    
   
      <ng-container matColumnDef="Name on cake">
        <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>
        Name On Cake
        </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nameOnCake}}</mat-cell>
      </ng-container>
   

   

    <ng-container matColumnDef="Phone Number">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Type Of Cake">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.typeOfCake}}</mat-cell>
      <mat-header-cell *matHeaderCellDef mat-sort-header mat-option>Type</mat-header-cell>
    </ng-container>


    <ng-container matColumnDef="Balance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.balance}}</mat-cell>
    </ng-container>

    


    
    <ng-container matColumnDef="Type of order">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type Of Order</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.typeOforderName}}</mat-cell>
    </ng-container>

    
<ng-container matColumnDef="Status">
  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
  <mat-cell *matCellDef="let row">
    <mat-form-field>
  <mat-select placeholder="Select Status" (selectionChange)="onStatusChanged($event,row)" [(ngModel)]="row.statusId">
    <mat-option *ngFor="let plan of statues" [value]="plan.id">
      {{ plan.name }}
    </mat-option>
  </mat-select>
    </mat-form-field>
  </mat-cell>
</ng-container>






  <!-- actions -->
  <ng-container matColumnDef="actions">

  <mat-header-cell *matHeaderCellDef>Action

  </mat-header-cell>





    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="accent"(click)="startEdit(row)" >
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>



<button mat-icon-button color="accent" (click)="this.dialog.open(ViewReceiptDialogComponent,{data:res})">
  <mat-icon aria-label="print">print</mat-icon>
</button>

     
      <button mat-icon-button color="accent" (click)="deleteItem(row.id,row.nameOnCake,row.phoneNumber)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  




  <div class="no-results" [style.display]="dataSource && dataSource.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource && dataSource.length !=0 ?dataSource.length : 0 "
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
</div>
